<div id="header" class="container">
  <h1>American Political Database</h1>
  <p>The American Political Database was created to provide accessible infomation to vote in the United states.
  We hope you can join us in educating America about Politics</p>
</div>

<div id="Teammates" class="container">

  <h3>People who worked on this Project</h3>

  <div class="row">
    <div class="col">
      <h4>Sateesh Bhugwansing</h4>
      <br>
      <img src="/public/images/placeholder" alt="teammate_pic_shateesh">
      <br>
      <p>Linkedin: </p>
      <a herf="https://LinkedIn.com/in/shateesh-bhugwansing">https://LinkedIn.com/in/shateesh-bhugwansing</a>
      <br>
      <p>Github: </p>
      <a herf="https://Github.com/shateeshb">https://Github.com/shateeshb</a>
    </div>
    <div class="col">
      <h4>Andrew Gabriel</h4>
      <br>
      <img src="/public/images/placeholder" alt="teammate_pic_Andrew">
      <br>
      <p>Linkedin: </p>
      <a herf="https://www.linkedin.com/in/andrewngabriel/">https://www.linkedin.com/in/andrewngabriel/</a>
      <br>
      <p>Github: </p>
      <a herf="https://github.com/Andrewngabriel">https://github.com/Andrewngabriel</a>
    </div>
    <div class="col">
      <h4>Placeholder</h4>
      <br>
      <img src="/public/images/placeholder" alt="teammate_pic_placeholder">
      <br>
      <p>Linkedin: </p>
      <a herf="https://www.linkedin.com/in/andrewngabriel/">https://www.linkedin.com/in/andrewngabriel/</a>
      <br>
      <p>Github: </p>
      <a herf="https://github.com/Andrewngabriel">https://github.com/Andrewngabriel</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>

</div>
