#header h1 {
  text-align: center;
}

#header p {
  text-align: justify;
}

#Teammates h3, h4 {
    text-align: center;
    padding: 25px;
}

#Teammates a {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Teammates img {
    width:200px;
    height: auto;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.row{
  padding: 25px;
}

.container{
    border-style: solid;
    border-width: medium;
    padding: 25px;
    margin: 25px;
}

.card-img-top {
    max-height:220px
}
