.nav-tabs > li > a {
  margin-left:25px;
  margin-right:27px;
}

#senators > h2 {
  padding-top: 20px;
  padding-bottom: 15px;
}

#representatives > h2 {
  padding-top: 20px;
  padding-bottom: 15px;
}
