<main role="main" class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="text-align: center;">Terms and Definitions</h1>
    </div>
  </div>
  <br>


  <div class="card" id="congress-card">
    <h5 class="card-header">The United States Congress</h5>
    <div class="card-body">
      <h3>Congress</h3>
      <p>
        The United States Congress is the bicameral legislature of the Federal government of the United States consisting of two chambers: the Senate(Upper Chamber) and the House of Representatives(Lower Chamber).
      </p>
      <h3>Powers of Congress(Both Upper and Lower Chamber)</h3>
      <ol>
        <li>
          To lay and collect taxes, duties, imposts and excises, to pay the debts and provide for the common defense and general welfare of the United States; but all duties, imposts and excises shall be uniform throughout the United States;
        </li>
        <br>
        <li>
          To borrow money on the credit of the United States;
        </li>
        <br>
        <li>
          To regulate commerce with foreign nations, and among the several states, and with the Native American tribes;
        </li>
        <br>
        <li>
          To establish a uniform rule of naturalization, and uniform laws on the subject of bankruptcies throughout the United States;
        </li>
        <br>
        <li>
          To coin money, regulate the value thereof, and of foreign coin, and fix the standard of weights and measures;
        </li>
        <br>
        <li>
          To provide for the punishment of counterfeiting the securities and current coin of the United States;
        </li>
        <br>
        <li>
          To establish post offices and post roads;
        </li>
        <br>
        <li>
          To promote the progress of science and useful arts, by securing for limited times to authors and inventors the exclusive right to their respective writings and discoveries;
        </li>
        <br>
        <li>
          To constitute tribunals inferior to the Supreme Court;
        </li>
        <br>
        <li>
          To define and punish piracies and felonies committed on the high seas, and offenses against the law of nations;
        </li>
        <br>
        <li>
          To declare war, grant letters of marque and reprisal, and make rules concerning captures on land and water;
        </li>
        <br>
        <li>
          To raise and support armies, but no appropriation of money to that use shall be for a longer term than two years;
        </li>
        <br>
        <li>
          To provide and maintain a navy;
        </li>
        <br>
        <li>
          To make rules for the government and regulation of the land and naval forces;
        </li>
        <br>
        <li>
          To provide for calling forth the militia to execute the laws of the union, suppress insurrections and repel invasions;
        </li>
        <br>
        <li>
          To provide for organizing, arming, and disciplining, the militia, and for governing such part of them as may be employed in the service of the United States, reserving to the states respectively, the appointment of the officers, and the authority of training the militia according to the discipline prescribed by Congress;
        </li>
        <br>
        <li>
          To exercise exclusive legislation in all cases whatsoever, over such District (not exceeding ten miles (16 km) square) as may, by cession of particular states, and the acceptance of Congress, become the seat of the government of the United States, and to exercise like authority over all places purchased by the consent of the legislature of the state in which the same shall be, for the erection of forts, magazines, arsenals, dockyards, and other needful buildings.
        </li>
      </ol>
    </div>
  </div>

  <br>

  <div class="card" id="senator-card">
    <h5 class="card-header">The Upper Chamber Of Congress</h5>
    <div class="card-body">
      <h3>Senator</h3>
      <p>The United States Senate is the upper chamber of the United States Congress, which along with the United States House of Representatives—the lower chamber—comprise the legislature of the United States.</p>
      <br>
      <h3>Senator Classes</h3>
      <p>
        Class - <a href="https://www.senate.gov/civics/constitution_item/constitution.htm#a1_sec3">Article I, section 3</a> of the Constitution requires the Senate to be divided into three classes for purposes of elections.  Senators are elected to six-year terms, and every two years the members of one class—approximately one-third of the senators—face election or reelection.  Terms for senators in Class I expire in 2019, Class II in 2021, and Class III in 2023.
      </p>
      <ul>
        <li>
          <h4>Class I - Senators Whose Term of Service Expire in 2019</h4>
          <p>
            Class I terms run from the beginning of the 113th Congress on January 3, 2013, to the end of the 115th Congress on January 3, 2019. Senators in Class I were elected to office in the November 2012 general election, unless they took their seat through appointment or special election.
          </p>
        </li>

        <li>
          <h4>Class II - Senators Whose Terms of Service Expire in 2021</h4>
          <p>
            Class II terms run from the beginning of the 114th Congress on January 5, 2015, to the end of the 116th Congress on January 3, 2021. Senators in Class II were elected to office in the November 2014 general election, unless they took their seat through appointment or special election.
          </p>
        </li>

        <li>
          <h4>Class III - Senators Whose Terms of Service Expire in 2023</h4>
          <p>
            Class III terms run from the beginning of the 115th Congress on January 3, 2017, to the end of the 117th Congress on January 3, 2023. Senators in Class III were elected to office in the November 2016 general election, unless they took their seat through appointment or special election.
          </p>
        </li>
      </ul>

      <br>
      <h3>Jobs of a Senator</h3>
      <ul>
        <li>
          <h4>Impeachment</h4>
          <p>
            Under the Constitution, the House of Representatives has the power to impeach a government official, in effect serving as prosecutor. The Senate has the sole power to conduct impeachment trials, essentially serving as jury and judge. Since 1789 the Senate has tried seventeen federal officials, including two presidents.
          </p>
        </li>

        <li>
          <h4>Nominations </h4>
          <p>
            The Constitution provides that the president "shall nominate, and by and with the Advice and Consent of the Senate, shall appoint Ambassadors, other public Ministers and Consuls, Judges of the Supreme Court, and all other Officers of the United States...(Article 2, Section 2)." The Senate has always jealously guarded its power to review and approve or reject presidential appointees to executive and judicial branch posts.
          </p>
        </li>

        <li>
          <h4>Treaties</h4>
          <p>
            The Constitution gives the Senate the power to approve, by a two-thirds vote, treaties made by the executive branch. The Senate has rejected relatively few of the hundreds of treaties it has considered, although many have died in committee or been withdrawn by the president. The Senate may also amend a treaty or adopt changes to a treaty. The president may also enter into executive agreements with foreign nations that are not subject to Senate approval.
          </p>
        </li>

        <li>
          <h4>Expulsion</h4>
          <p>
            Article I, Section 5, of the U.S. Constitution provides that each house of Congress may ". . .punish its members for disorderly behavior, and, with the concurrence of two-thirds, expel a member." Since 1789, the Senate has expelled only fifteen of its entire membership.
          </p>
        </li>

        <li>
          <h4>Censure</h4>
          <p>
            Article I, Section 5, of the U.S. Constitution provides that "Each House [of Congress] may determine the Rules of its proceedings, punish its members for disorderly behavior, and, with the concurrence of two-thirds, expel a member." Censure is a form of discipline used by the Senate against its members (sometimes referred to as condemnation or denouncement). A formal statement of disapproval, a censure does not remove a senator from office. Since 1789 the Senate has censured nine of its members.
          </p>
        </li>

        <li>
          <h4>Filibuster and Cloture </h4>
          <p>
            The Senate has a long history of using the filibuster--a term dating back to the 1850s in the United States--to delay debate or block legislation. Unlimited debate remained in place in the Senate until 1917, when the Senate adopted Rule 22 that allowed the Senate to end a debate with a two-thirds majority vote--a tactic known as "cloture." In 1975, the Senate reduced the number of votes required for cloture from two-thirds (67) to three-fifths (60) of the 100-member Senate.
          </p>
        </li>

        <li>
          <h4>Investigations </h4>
          <p>
            Congress has conducted investigations of malfeasance in the executive branch--and elsewhere in American society--since 1792. The need for congressional investigation remains a critical ingredient for restraining government and educating the public.
          </p>
        </li>

        <li>
          <h4>Contested Senate Elections</h4>
          <p>
            The United States Constitution gives each house of Congress the power to be the judge of the “elections, returns, and qualifications of its own members” (Article I, Section 5). Since 1789, the Senate has carefully guarded this prerogative, and has developed its own procedures for judging the qualifications of its members and settling contested elections.
          </p>
        </li>
      </ul>
    </div>
  </div>

  <br>

  <div class="card" id="representative-card">
    <h5 class="card-header">The Lower Chamber of Congress</h5>
    <div class="card-body">
      <h3>Representatives</h3>
      <p>
        The United States House of Representatives is the lower chamber of the United States Congress, the Senate being the upper chamber. Together they compose the legislature of the United States.
      </p>
      <br>
      <h3>Jobs of a Representative</h3>
      <ul>
        <li>
          Initiate revenue bills
        </li>

        <li>
          Impeach federal officials
        </li>
         <li>
           Elect the President in the case of an electoral college tie
         </li>
        </ui>
        <br>
        <h3>Congressional district</h3>
        <p>
          A congressional district is an electoral constituency that elects a single member of a congress. A congressional district is based on population, which, in the United States, is taken using a census every ten years. There are 435 congressional districts in the United States House of Representatives, with each one representing approximately 711,000 people. In addition to the 435 congressional districts, the five inhabited U.S. territories and the federal district of Washington, D.C. each send a non-voting delegate to the House of Representatives.
        </p>
      </div>
    </div>
  </div>

  <br>

  <div class="card" id="political-party-card">
      <h5 class="card-header">Political Party</h5>
      <div class="card-body">
        <h3>Parties</h3>
        <p>
          A political party is a group of people who come together to contest elections and hold power in the government. The political parties are well organized which agrees on some proposed policies and programmes, with a view to promoting the collective good or furthering their supporters' interests.
        </p>

        <h3>Democratic Party(D)</h3>
        <p>
          The Democratic caucus is composed mostly of centrists and progressives, with a smaller minority of conservative Democrats. The party's philosophy of modern liberalism advocates social and economic equality, along with the welfare state. It seeks to provide government intervention and regulation in the economy.[16] These interventions, such as the introduction of social programs, support for labor unions, affordable college tuitions, moves toward universal health care and equal opportunity, consumer protection and environmental protection form the core of the party's economic policy.
        </p>

        <h3>Republican Party(R)</h3>
        <p>
          The Republican caucus is American conservatism, which contrasts with the Democrats' liberal platform and progressive wing. The GOP's political platform supports lower taxes, free market capitalism, free enterprise, a strong national defense, gun rights, deregulation and restrictions on labor unions. In addition to advocating for conservative economic policies, the Republican Party is socially conservative and seeks to uphold traditional values based largely on Judeo-Christian ethics.
        </p>
      </div>
    </div>
</main>
