<main role="main" id="mapContainer" class="container">
  <h1 class="text-center">American Political Database</h1>
	<div id="clickableMap" class="row"></div>
  <p id="stateName" class="text-center"><i>Select a state</i></p>
</main>
<script src="/d3/d3.min.js"></script>
<script src="/topojson/build/topojson.min.js"></script>
<script src="/datamaps/dist/datamaps.usa.min.js"></script>
<script src="/js/clickablemap.js"></script>
