<main role="main" class="container">
<div class="jumbotron mt-3">
  <h1 class="display-4 text-center">American Political  Database</h1>
  <hr>
  <p>In these times of political turmoil, it can be hard to know where you can reach out to… or who… Well worry no longer. Here is a database of your local representatives, learn who they are and what they stand for. No longer will you be confused or muddled down by outlaying sources. This is your one stop shop of political information.</p>
</div>

<h3 class="text-center">People who worked on this Project</h3>
<hr>
<div>
  <div class="card-deck text-center">
    <div class="card">
      <h4 class="card-header">Sateesh Bhugwansing</h4>
      <div class="card-body">
        <img class="card-img" src="images/teammates/shateesh.jpg" alt="Satessh Bhugwansing">
      </div>
      <div class="card-footer">
        <a class="card-link" href="https://linkedin.com/in/shateesh-bhugwansing"><i class="fab fa-linkedin"></i> Linkedin</a>
        <br>
        <a class="card-link" href="https://github.com/shateeshb"><i class="fab fa-github"></i> Github</a>
      </div>
    </div>

    <div class="card">
      <h4 class="card-header">Andrew Gabriel</h4>
      <div class="card-body">
        <img class="card-img" src="images/teammates/andrew.jpg" alt="Andrew Gabriel">
      </div>
      <div class="card-footer">
        <a class="card-link" href="https://www.linkedin.com/in/andrewngabriel/"><i class="fab fa-linkedin"></i>&nbsp;Linkedin</a>
        <br>
        <a class="card-link" href="https://github.com/Andrewngabriel"><i class="fab fa-github"></i>&nbsp;Github</a>
      </div>
    </div>

    <div class="card">
      <h4 class="card-header">Miguel Rodriguez</h4>
      <div class="card-body">
        <img class="card-img" src="images/teammates/miguel.jpeg" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a class="card-link" href="https://www.linkedin.com/in/miguel-rodriguez-447944149/"><i class="fab fa-linkedin"></i>&nbsp;Linkedin</a>
        <br>
        <a class="card-link" href="https://github.com/moomookittyclam148"><i class="fab fa-github"></i>&nbsp;Github</a>
      </div>
    </div>

  </div>

  <div class="card-deck text-center my-sm-3">

    <div class="card">
      <h4 class="card-header">Satyam Sharma</h4>
      <div class="card-body">
        <img class="card-img" src="images/teammates/satyam.jpeg" alt="Satessh Bhugwansing">
      </div>
      <div class="card-footer">
        <a class="card-link" href="https://github.com/satyamsharma"><i class="fab fa-github"></i> Github</a>
      </div>
    </div>

    <div class="card">
      <h4 class="card-header">Elie Paul</h4>
      <div class="card-body">
        <img class="card-img" src="images/teammates/elie.jpeg" alt="Andrew Gabriel">
      </div>
      <div class="card-footer">
        <a class="card-link" href="https://www.linkedin.com/in/elie-elisee-paul"><i class="fab fa-linkedin"></i>&nbsp;Linkedin</a>
        <br>
        <a class="card-link" href="https://github.com/Mpaulo95"><i class="fab fa-github"></i>&nbsp;Github</a>
      </div>
    </div>

    <div class="card">
      <h4 class="card-header">JinWon Chung</h4>
      <div class="card-body">
        <img class="card-img" src="images/teammates/jinwon.jpg" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a class="card-link" href="https://www.linkedin.com/in/jinwon-chung-52192698/"><i class="fab fa-linkedin"></i>&nbsp;Linkedin</a>
        <br>
        <a class="card-link" href="https://github.com/SimonOrJ"><i class="fab fa-github"></i>&nbsp;Github</a>
      </div>
    </div>

  </div>
  <hr>
  <p>American Political Database &copy; 2018
</div>
</main>
