<link rel="stylesheet" href="/css/about.css"/>

<div id="header" class="jumbotron text-center">
  <h1>American Political  Database</h1>
  <p>In these times of political turmoil, it can be hard to know where you can reach out to… or who… Well worry no longer. Here is a database of your local representatives, learn who they are and what they stand for. No longer will you be confused or muddled down by outlaying sources. This is your one stop shop of political information.</p>
</div>

<div id="Teammates" class="container">

  <h3>People who worked on this Project</h3>

  <div class="row">

    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <h4>Sateesh Bhugwansing</h4>
        <img class="card-img-top" src="images/teammates/shateesh.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="https://LinkedIn.com/in/shateesh-bhugwansing">Linkedin</a>
          <br>
          <a href="https://Github.com/shateeshb">Github</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <h4>Andrew Gabriel</h4>
        <img class="card-img-top" src="images/teammates/andrew.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="https://www.linkedin.com/in/andrewngabriel/">Linkedin</a>
          <br>
          <a href="https://github.com/Andrewngabriel">Github</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <h4>Miguel Rodriguez</h4>
        <img class="card-img-top" src="images/teammates/miguel.jpeg" alt="Card image cap">
        <div class="card-body">
          <a href="https://www.linkedin.com/in/miguel-rodriguez-447944149/">Linkedin</a>
          <br>
          <a href="https://github.com/moomookittyclam148">Github</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <h4>Satyam Sharma</h4>
        <img class="card-img-top" src="images/teammates/satyam.jpeg" alt="Card image cap">
        <div class="card-body">
          <br>
          <a href="https://github.com/satyamsharma">Github</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <h4>Elie Paul</h4>
        <img class="card-img-top" src="images/teammates/elie.jpeg" alt="Card image cap">
        <div class="card-body">
          <a href="https://www.linkedin.com/in/elie-elisee-paul">Linkedin</a>
          <br>
          <a href="https://github.com/Mpaulo95">Github</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <h4>Jinwon Chung</h4>
        <img class="card-img-top" src="images/teammates/jinwon.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="https://www.linkedin.com/in/jinwon-chung-52192698/">Linkedin</a>
          <br>
          <a href="https://github.com/SimonOrJ/">Github</a>
        </div>
      </div>
    </div>

  </div>

</div>
